.nav-link {
    color: antiquewhite;
}

.navbar-nav .nav-link.active {
    color: rgb(185 141 141);
}

.nav-link:hover {
    color: brown;
}

.nav-link:focus {
    color: greenyellow;
}

.accordion-item,
.list-group-item {
    border: 0;
}

.title-andrea {
    padding: 1rem 1.25rem;
    background-color: blueviolet;
}

.forzajuve {
    overflow: hidden;
}

.ciao-baby {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}